/*---This is the main background for every pages---*/
.container-fluid {
	background: url("../images/FESC_bg.png") center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-repeat: no-repeat;
  margin: 0 auto;
	padding: 0;
}
