/*---This is the INFORMATION SECTION of the body---*/
.headerTitle {
	margin: 2.6em 0 0 21em;
	flex-wrap: wrap;
	position: absolute;
	clear: both;
	z-index: 1;

	h1 {
	  font-size: calc(.5em + 1.4vw + .2vh);
		font-weight: bold;
		text-shadow: $castShadow;
	  color: #234659;
	}
}

.researchInfo {
	margin: -55em 0 0 20em;
	padding: 1em;
	background: linear-gradient(to bottom right,#ffffff 70%, #234659 15%);
	width: 80%;
	height: 80rem;
	border: .5em solid #234659;
	box-shadow: $castShadow;
	position: relative;
	clear: both;
}

p {
	margin: 0;
	padding: .5rem;
	letter-spacing: .1em;
	line-height: 1.2em;
	color: #112730;
	font-weight: normal;
	font-size: calc(.1em + .5vw + .35vh);
	position: relative;
	clear: both;

	.focus-word {
		color: $accent;
	}
}

.capLetter::first-letter {
	font-size: 150%;
	font-weight: bold;
}

.indentLet::first-letter {
	font-weight: bold;
	color: #234659;
}

.thirdBlock img {
	border: .5em solid $accent;
	margin: -28em 0 0 68em;
	width: 55%;
	height: 600px;
	box-shadow: $castShadow;
	position: absolute;
	z-index: 1;
}

/*---MEDIA QUERY for small device---*/
@media only screen and (min-width: 300px) and (max-width: 767px) {
	[class*="col-"] {
			width: 100%;
			margin: 0;
			border: 0;
	}

	.headerTitle {
		padding: .5rem;
		width: 100%;
		margin: 3em 5em 0 0;
		height: auto;
		z-index: 1;

		h1 {
			text-align: center;
			font-size: calc(1em + 2vw + .5vh);
			font-weight: bold;
			line-height: 2rem;
			text-shadow: $castShadow;
			color: #ffffff;
		}
	}

	.researchInfo {
		display: inline-flex;
		flex-wrap: wrap;
		margin: -9em 0 0 0;
		padding: 1em;
		background: linear-gradient(to top right,#4E96BE 51%, #234659 15%);
		width: 100%;
		height: auto;
		box-shadow: $castShadow;
		clear: both;
	}

	p {
		margin-top: 2.5rem;
		padding: .1rem;
		letter-spacing: .1em;
		color: #ffffff;
		font-weight: 500;
		font-size: 1.2rem;
		text-align: center;

		.focus-word {
			color: $accent;
		}
	}

	.capLetter::first-letter {
		font-size: 150%;
		font-weight: bold;
	}

	.indentLet::first-letter {
		font-weight: bold;
		color: #234659;
	}

	article img {
		border: .4em solid $accent;
		margin: 1em 0 0 0;
		width: 100%;
		height: auto;
		box-shadow: $castShadow;
		position: relative;
		z-index: 1;
	}
}

/*---MEDIA QUERY for old tablets---*/
@media only screen and (min-width: 768px) and (max-width: 900px) {
	section[class*="col-"] {
			width: 100%;
	}

	.headerTitle {
		padding: .5rem;
		margin: 3em 0 0 6em;
		z-index: 1;
		height: auto;

		h1 {
			text-align: center;
			font-size: calc(1em + 2vw + .5vh);
			font-weight: bold;
			line-height: 2rem;
			text-shadow: $castShadow;
			color: #ffffff;
		}
	}

	.researchInfo {
		display: inline-flex;
		flex-wrap: wrap;
		margin: -16.3em 0 0 2.5em;
		padding: 1em;
		background: linear-gradient(to top right,#ffffff 88%, #234659 15%);
		width: 90%;
		height: auto;
		border: .5em solid #234659;
		box-shadow: $castShadow;
		clear: both;
	}

	.col-4 {
			margin: 20em 0 0 0;
	}

	p {
		margin-top: .8rem;
		padding: .1rem;
		letter-spacing: .1em;
		color: #112730;
		font-weight: 500;
		font-size: 1.2rem;
		text-align: center;

		.focus-word {
			color: $accent;
		}
	}

	.capLetter::first-letter {
		font-size: 150%;
		font-weight: bold;
	}

	.indentLet::first-letter {
		font-weight: bold;
		color: #234659;
	}

	.para1 {
		margin: 5em 0 0 0;
	}

	.para4 {
		//position: relative;
		margin: 3em 0 0 0;
	}

	article img {
		border: .5em solid $accent;
		margin: -94em 0 0 0;
		width: 100%;
		height: auto;
		box-shadow: $castShadow;
		position: relative;
		z-index: 1;
	}
}

/*---MEDIA QUERY for New tablets---*/
@media screen and (min-width: 1024px) and (max-width: 1200px) {
    section[class*="col-"] {
        width: 100%;
		}

		.headerTitle {
			padding: .5rem;
			text-align: center;
			margin: 5em 0 0 10em;
			z-index: 1;
			height: auto;

			h1 {
				text-align: center;
				font-size: calc(1em + 2vw + .5vh);
				font-weight: bold;
				line-height: 2rem;
				text-shadow: $castShadow;
				color: #ffffff;
			}
		}

		.researchInfo {
			display: inline-flex;
			flex-wrap: wrap;
			margin: -9rem 0 0 3rem;
			padding: 1em;
			background: linear-gradient(to top right,#ffffff 88%, #234659 15%);
			width: 90%;
			height: auto;
			border: .5em solid #234659;
			box-shadow: $castShadow;
			clear: both;
		}

		.col-4 {
				margin: 20em 0 0 0;
		}

		p {
			margin-top: .8rem;
			padding: .1rem;
			letter-spacing: .1em;
			color: #112730;
			font-weight: 500;
			font-size: 1.2rem;
			text-align: center;

			.focus-word {
				color: $accent;
			}
		}

		.capLetter::first-letter {
			font-size: 150%;
			font-weight: bold;
		}

		.indentLet::first-letter {
			font-weight: bold;
			color: #234659;
		}

		.para1 {
			margin: 10em 0 0 0;
		}

		.para4 {
			//position: relative;
			margin: 2em 0 0 0;
		}

		article img {
			border: .5em solid $accent;
			margin: -92em 0 0 0;
			width: 100%;
			height: auto;
			box-shadow: $castShadow;
			position: relative;
			z-index: 1;
		}
}

/*---MEDIA QUERY for New tablets---*/
@media screen and (min-width: 1440px) and (max-width: 1900px) {
    section[class*="col-"] {
        width: 100%;
		}

		.headerTitle {
			padding: .5rem;
			text-align: center;
			margin: 5em 0 0 5em;
			z-index: 1;
			height: auto;

			h1 {
				text-align: center;
				font-size: calc(1em + 2vw + .5vh);
				font-weight: bold;
				line-height: 2rem;
				text-shadow: $castShadow;
				color: #ffffff;
			}
		}

		.researchInfo {
			display: inline-flex;
			flex-wrap: wrap;
			margin: -20rem 0 0 3rem;
			padding: 1em;
			background: linear-gradient(to top right,#ffffff 88%, #234659 15%);
			width: 90%;
			height: auto;
			border: .5em solid #234659;
			box-shadow: $castShadow;
			clear: both;
		}

		.col-4 {
				margin: 20em 0 0 0;
		}

		p {
			margin-top: .8rem;
			padding: .1rem;
			letter-spacing: .1em;
			color: #112730;
			font-weight: 500;
			font-size: 1.2rem;
			text-align: center;

			.focus-word {
				color: $accent;
			}
		}

		.capLetter::first-letter {
			font-size: 150%;
			font-weight: bold;
		}

		.indentLet::first-letter {
			font-weight: bold;
			color: #234659;
		}

		.para1 {
			font-size: calc(.5em + .2vw + .5vh);
			width: 45%;
			text-align: left;
			margin: -15em 0 0 0;
		}

		.para2 {
			text-align: left;
			width: 45%;
		}

		.para3 {
			text-align: left;

		}

		.indentLet {
			text-align:left;
			margin: 1em 0 0 0;
		}

		article img {
			border: .5em solid $accent;
			margin: -53em 0 0 37em;
			width: 50%;
			height: auto;
			box-shadow: $castShadow;
			position: relative;
			z-index: 1;
		}
}
