/*---SASS DOCUMENT SECTION---*/
$main-font: Leelawadee UI, "Open Sans", Helvetica, Arial, sans-serif;
@import "components/accentColor";
@import "components/castShadow";

/*---MAIN BODY---*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	height: auto;
	box-sizing: border-box;
  font-family: $main-font;

		*, *:before, *:after {
	  	box-sizing: inherit;
		}
}

/*---Row and Columns Control Section---*/
.row::after {
    content: "";
    clear: both;
    display: inline-block;
}

	[class*="col-"] {
    float: left;
		padding: 0;
	}

/*---Columns Control Area for Desktop size---*/
li.col-1 {width: 8.33%;}
li.col-2 {width: 8.33%;}
li.col-3 {width: 8.33%;}
section.col-4 {width: 40.33%;}
section.col-5 {width: 40.33%;}
section.col-6 {width: 20.33%;}
.col-7 {width: 85.33%;}
.col-8 {width: 8.33%;}
.col-9 {width: 6.33%;}

/*---I created a seperate .scss for the background to make it easier to change and play around with the design---*/
@import "globals/mainBg";

/*---HEADER SECTION has it's own .scss file under globals. This is in case it needs to change or added some more information---*/
@import "globals/header";

/*---NAV SECTION. It has it's own .scss inside the global folder---*/
@import "globals/worldNav";

/*---This is a design that is part of the background, but changes position and height in each pages---*/
@import "components/educationBlock";


/*---FESC INFORMATION SECTION for the home page---*/
@import "components/educationInfo";

@import "components/chartAsideEdu";

/*---FOOTER SECTION---*/
@import "globals/footer";

/*---MEDIA QUERY for small device---*/
@media screen and (min-width: 300px) and (max-width: 1024px) {
	[class*="col-"] {
			width: 100%;
	}
}
