/*---SASS DOCUMENT SECTION---*/
$main-font: Leelawadee UI, "Open Sans", Helvetica, Arial, sans-serif;
@import "components/accentColor";

/*---MAIN BODY---*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
  font-family: $main-font;
}

/*---I created a seperate .scss for the background to make it easier to change and play around with the design---*/
@import "globals/mainBg";

/*---HEADER SECTION---*/
.logo {
	display: flex;
  margin: 0 auto;
	justify-content: center;
}

/*---NAV SECTION. It has it's own .scss inside the global folder---*/
@import "globals/worldNav";

/*---This is a design that is part of the background, but changes position and height in each pages---*/
.moving-bg.row {
	background-color: #DD794E;
	margin-top: 1rem;
	padding: 0;
	width: 100%;
	height: 30rem;
	z-index: -1;
}

/*---ASIDE SECTION---*/
.floater.row {
	display: inline-block;
	float: right;
}

/*---FESC INFORMATION SECTION---*/
@import "globals/information";

/*---I will write the @media query once i'm done with styling and laying out the normal size---*/
