/*---SASS DOCUMENT SECTION---*/
/*---MAIN BODY---*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Leelawadee UI, "Open Sans", Helvetica, Arial, sans-serif; }

/*---I created a seperate .scss for the background to make it easier to change and play around with the design---*/
/*---This is the main background for every pages---*/
.container-fluid {
  background: url("../images/FESC_bg.png") center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 0; }

/*---HEADER SECTION---*/
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/*---NAV SECTION. It has it's own .scss inside the global folder---*/
/*---Global Navigation and links button---*/
nav.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0 -5rem 18rem; }

ul.row {
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute; }

nav ul > li:nth-child(1) {
  width: 9rem;
  height: 3rem;
  font-size: 1.2rem;
  border: .2rem solid #ffffff;
  background-color: #4E96BE;
  padding: .5rem 0 0 0;
  margin: -.5rem 0 1rem 1rem;
  -webkit-box-shadow: rgba(109, 128, 137, 0.5) 0px 6px 7px -1px;
          box-shadow: rgba(109, 128, 137, 0.5) 0px 6px 7px -1px;
  text-align: center;
  z-index: 1;
  clear: both; }
  nav ul > li:nth-child(1) a {
    font-weight: bold;
    color: #ffffff; }

nav ul > li:nth-child(2) {
  width: 9rem;
  height: 3rem;
  font-size: 1.2rem;
  border: .2rem solid #ffffff;
  background-color: #4E96BE;
  padding: .5rem 0 0 0;
  margin: -.5rem 0 1rem 1rem;
  -webkit-box-shadow: rgba(109, 128, 137, 0.5) 0px 6px 7px -1px;
          box-shadow: rgba(109, 128, 137, 0.5) 0px 6px 7px -1px;
  text-align: center;
  z-index: 1;
  clear: both; }
  nav ul > li:nth-child(2) a {
    font-weight: bold;
    color: #ffffff; }

nav ul > li:nth-child(3) {
  width: 9rem;
  height: 3rem;
  font-size: 1.2rem;
  border: .2rem solid #ffffff;
  background-color: #4E96BE;
  padding: .5rem 0 0 0;
  margin: -.5rem 0 1rem 1rem;
  -webkit-box-shadow: rgba(109, 128, 137, 0.5) 0px 6px 7px -1px;
          box-shadow: rgba(109, 128, 137, 0.5) 0px 6px 7px -1px;
  text-align: center;
  z-index: 1;
  clear: both; }
  nav ul > li:nth-child(3) a {
    font-weight: bold;
    color: #ffffff; }

/*---This is a design that is part of the background, but changes position and height in each pages---*/
.moving-bg.row {
  background-color: #DD794E;
  margin-top: 1rem;
  padding: 0;
  width: 100%;
  height: 30rem;
  z-index: -1; }

/*---ASIDE SECTION---*/
.floater.row {
  display: inline-block;
  float: right; }

/*---FESC INFORMATION SECTION---*/
/*---This is the INFORMATION SECTION of the body---*/
.info.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -22rem 0 0 15rem;
  background: #ffffff;
  width: 80%;
  height: 70rem;
  -webkit-box-shadow: rgba(109, 128, 137, 0.5) 0px 6px 7px -1px;
          box-shadow: rgba(109, 128, 137, 0.5) 0px 6px 7px -1px;
  position: absolute;
  clear: both;
  z-index: 1; }

h1 {
  padding: 0;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  line-height: 3rem;
  color: #4E96BE; }

.focus-word {
  color: #4E96BE; }

article.row {
  font-size: 1.5rem;
  margin-top: 5rem;
  text-align: left; }
  article.row article > section[class^="col-"] {
    padding: .2em;
    margin: 1rem;
    width: 30rem; }
  article.row p {
    margin-top: 1rem;
    padding: .5rem;
    color: #2C7198;
    font-weight: 100;
    font-size: 1.2rem; }

article img {
  width: 100%;
  z-index: 1; }

/*---I will write the @media query once i'm done with styling and laying out the normal size---*/

/*# sourceMappingURL=index.css.map */